*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.tab-content{ /* This is for the background mountain image*/ 
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.jpeg);
    background-position: center;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
                  background-attachment: fixed; 
                  
}
.form-box /*create a rectangle box in the middle of the page to store everything .*/
{
    width:380px;
    height: 580px;
    position: relative;
    margin: 6% auto;
    background:white;
    padding: 5px;
    overflow: hidden; /* hide the register box when on the login box and vice versa*/
}
.button-box /* create the shadow behind the login and register button*/
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn /* create the register and log in button*/
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn /* make the colorful inside the login, can be toggle to register*/
{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input-group /* for the user ID, pass, remember me, position and login*/
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-field /* Design the User ID and User Pass */
{
    width: 100%;
    padding: 10px 0;
    margin : 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn /* Design the submit button*/
{
    width:  85%;
    padding:10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.psw /*design the forget password button*/
{
    margin: -100px -200px;
    text-align: center;
    float: right;
}
span
{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login/* For the login button on the top*/
{
    left: 50px;

}
#register /* For the register button on the top*/
{
left: 450px;
}
.close /* This is for the X ( close ) symbol for the login/register page*/
{
    color: red;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    
}
